.meeting-details {
  padding: 78px 140px;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 78px;

  &__header {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__members_and_settlements {
    display: flex;
    flex-direction: row;
    gap: 60px;
  }
}
