.receipts {

  &__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }

  &__list {
    display: flex;
    flex-direction: row;
    gap: 20px;
    flex-wrap: wrap;
  }
}

.receipt_details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
