.meetings {
  display: flex;
  margin-top: 78px;
  flex-direction: column;
  gap: 78px;
  margin-bottom: 100px;

  &__row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 50px;
  }

  &__section {
    background: linear-gradient(rgba(249, 249, 249, 0.3), rgba(249, 249, 249, 0.3)), url("../../../public/section-background.svg");
    padding: 30px 140px;
  }
}

.label {
  font-size: 40px;
}
